
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
  }
  
  @keyframes fadeIn {
    to {
        opacity: 1;
    }
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: -1%;
  }
  
  .navbar-brand {
    margin-left: -5%;
    transform: scale(50%);
    background-color: #ffffff;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 20px;
    position: relative;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    position: relative;
  }
  
  .navbar-menu li::after {
    content: '';
    height: 2.5px;
    width: 0;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar-menu li:hover::after {
    width: 100%;
  }
  
  .navbar-menu li a:hover {
    color: orangered;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
  }
  
  .sidebar {
    margin-top: 6%;
    width: 200px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0; 
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s ease;
  }

  


#otpRequestForm,
#verifyOTPForm,
#message {
    text-align: center;
    margin-top: 100px;
}


h1 {
    margin-top: 200px;
    font-size: 1.3rem;
    text-align: center;
}


#otpRequestForm button,
#verifyOTPForm button {
    margin-top: 10px; 
}


#verifyOTPForm label,
#verifyOTPForm input {
    display: block;
    margin: 10px auto; 
}

input, select, button {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
button{
    background-color: black;
    
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
button:hover {
    color: orangered;
    background-color: black;
  }
  