
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  padding-top: 80px; 
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
  position: relative;
}

.navbar-menu li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
  position: relative;
}

.navbar-menu li::after {
  content: '';
  height: 2.5px;
  width: 0;
  background: aqua;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar-menu li:hover::after {
  width: 100%;
}

.navbar-menu li a:hover {
  color: orangered;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px; 
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.department {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}
button{
  background-color: black;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  color: orangered;
  background-color: black;
}
